.panel__title {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.panel__wrapper {
    display: flex;
    gap: 0.5rem;
    background-color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    padding: 1.25rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}