.dialog {
    position: relative;
    z-index: 100;
}

.dialog__bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 1;
}

.dialog__overflow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;

}

.dialog__child {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.dialog__panel {
    max-width: 35rem;
    padding: 1.75rem;
    border-radius: 0.75rem;
    background-color: #fff;
}